body { font-family: Verdana; }

.shiny-output-error { visibility: hidden; }

.shiny-output-error:before { visibility: hidden; }

.content-wrapper, .right-side { background-color: #ffffff; }

.info-box-number { font-size: 30px; }

.small-box .icon-large {
  top: 0;
  bottom: auto;
  right: 15px;
  font-size: 40px;
}

.box {
  border-top: none;
  box-shadow: none;
}

.colorbox .box {
  background: rgb(235, 235, 235);
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.bg-teal { background-color: #cc8b39!important; }

.valuesbox, .shiny-html-output {
  padding: 0px 8px 0px 13px
}

.nav-tabs-custom { box-shadow: none; }

#infomations {
  width: 100%;
  text-align: center;
}

#infomations img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


